# {{ ansible_managed }}
# Modifications to this file will be destroyed!
domain ip {
  table filter {
    chain INPUT {
      protocol tcp dport 53 ACCEPT;
      protocol udp dport 53 ACCEPT;
    }
  }
}
