# {{ ansible_managed }}
# Modifications to this file will be destroyed!

driftfile /var/lib/ntp/ntp.drift
logfile /var/log/ntpd.log
statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% if 'ntp_servers' in group_names %}
server 0.ubuntu.pool.ntp.org
server 1.ubuntu.pool.ntp.org
server 2.ubuntu.pool.ntp.org
server 3.ubuntu.pool.ntp.org
{% else %}
{% for host in groups['ntp_servers'] %}
server {{ host }}
{% endfor %}
{% endif %}

restrict -4 default kod notrap nomodify nopeer noquery
restrict 127.0.0.1
restrict ::1
