[DEFAULT]
auth_uri = http://{{ openstack_keystone_hostname }}:5000
auth_url = http://{{ openstack_keystone_hostname }}:35357
auth_region = RegionOne
admin_tenant_name = %SERVICE_TENANT_NAME%
admin_user = %SERVICE_USER%
admin_password = %SERVICE_PASSWORD%
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = {{ openstack_neutron_username }}
password = {{ openstack_neutron_password }}
nova_metadata_ip = {{ openstack_neutron_hostname }}
metadata_proxy_shared_secret = {{ openstack_metadata_proxy_shared_secret }}

