[DEFAULT]
core_plugin = ml2
service_plugins = router
allow_overlapping_ips = True
verbose = True
rpc_backend = rabbit
auth_strategy = keystone
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
nova_url = http://{{ openstack_nova_hostname }}:8774/v2

[agent]
root_helper = sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf

[keystone_authtoken]
auth_uri = http://{{ openstack_keystone_hostname }}:5000
auth_url = http://{{ openstack_keystone_hostname }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = {{ openstack_neutron_username }}
password = {{ openstack_neutron_password }}

[database]
connection = {{ openstack_neutron_database_url }}

[nova]
auth_url = http://{{ openstack_keystone_hostname }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
region_name = RegionOne
project_name = service
username = {{ openstack_nova_username }}
password = {{ openstack_nova_password }}

[oslo_concurrency]
lock_path = $state_path/lock

[oslo_messaging_rabbit]
rabbit_host = {{ rabbitmq_hostname }}
rabbit_userid = {{ rabbitmq_username }}
rabbit_password = {{ rabbitmq_password }}
