prompt 0
timeout 0
default Ubuntu 14.04.3

label Ubuntu 14.04.3
kernel pxe/images/ubuntu/ubuntu-14.04.3-x86_64
append auto=true initrd=pxe/images/ubuntu/ubuntu-14.04.3-x86_64.img locale=en_US.UTF8 kbd-chooser/method=us netcfg/choose_interface=auto netcfg/get_hostname=unassigned url=http://{{ management_ip }}/preseed/ubuntu/14.04.3/default
