d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/wireless_wep string

d-i mirror/country string manual
d-i mirror/http/hostname string {{ management_ip }}
d-i mirror/http/directory string /ubuntu/14.04.3
d-i mirror/http/proxy string
d-i live-installer/net-image string http://{{ management_ip }}/ubuntu/14.04.3/install/filesystem.squashfs
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string {{ management_ip }}

d-i partman-auto/disk string /dev/sda

d-i partman-auto/method string lvm

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/expert_recipe string     \
    sovee ::                              \
      512 512 512 ext2                    \
        $primary{ }                       \
        $bootable{ }                      \
        method{ format }                  \
        format{ }                         \
        use_filesystem{ }                 \
        filesystem{ ext2 }                \
        mountpoint{ /boot }               \
      .                                   \
      40000 40000 40000 ext4              \
        $primary{ }                       \
        method{ lvm }                     \
        device{ /dev/sda2 }               \
        vg_name{ system }                 \
      .                                   \
      100000 1000000000000 10000000000000 \
        $primary{ }                       \
        method{ keep }                    \
        device{ /dev/sda3 }               \
      .                                   \
      1024 512 3172 linux-swap            \
        $lvmok{ }                         \
        in_vg{ system }                   \
        lv_name{ swap }                   \
        method{ swap }                    \
        format{ }                         \
      .                                   \
      30000 30000 30000 ext4              \
        $lvmok{ }                         \
        in_vg{ system }                   \
        lv_name{ root }                   \
        method{ format }                  \
        format{ }                         \
        use_filesystem{ }                 \
        filesystem{ ext4 }                \
        label{ root }                     \
        mountpoint{ / }                   \
      .

d-i partman-auto-lvm/guided_size string 80%
d-i partman-basicmethods/method_only boolean false
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i passwd/user-fullname string sovee
d-i passwd/username string sovee
d-i passwd/user-password password changeme
d-i passwd/user-password-again password changeme
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
d-i pkgsel/include string openssh-server update-motd
tasksel tasksel/first multiselect server, openssh-server
d-i pkgsel/update-policy select none
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i preseed/late_command string \
    in-target wget http://{{ management_ip }}/preseed/ubuntu/14.04.3/postinst.sh -O /tmp/postinst.sh; \
    in-target /bin/chmod 755 /tmp/postinst.sh; \
    in-target /tmp/postinst.sh; \
    in-target rm /tmp/postinst.sh; \
    cp /target/etc/network/interfaces /etc/network/interfaces
d-i finish-install/reboot_in_progress note
