#!/bin/sh
sed -i 's/^%sudo.*$/%sudo ALL=(ALL:ALL) NOPASSWD: ALL/g' /etc/sudoers
mkdir -p /home/sovee/.ssh
/bin/sh -c "echo '{{ sovee_ssh_key }}' >> /home/sovee/.ssh/authorized_keys"
chown -R sovee: /home/sovee/
chmod -R go-rwx /home/sovee/.ssh/authorized_keys
sed -i 's/PermitRootLogin yes/PermitRootLogin no/g' /etc/ssh/sshd_config
sed -i 's/#PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config
rm /etc/udev/rules.d/70-persistent-net.rules
aptitude clean
INTERFACE=`route -n | grep UG | awk '{ print $8 }'`
cat <<EOF >/etc/network/interfaces
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# Source interfaces
source /etc/network/interfaces.d/*.cfg

EOF

cat <<EOF >/etc/network/interfaces.d/${INTERFACE}.cfg
auto ${INTERFACE}
iface ${INTERFACE} inet dhcp
EOF

wget -r --no-parent http://{{ management_ip }}/apt-conf/ubuntu/14.04.3/apt.conf.d/ -P /etc/apt/apt.conf.d/
wget http://{{ management_ip }}/apt-conf/ubuntu/14.04.3/sources.list -O /etc/apt/sources.list
