# {{ ansible_managed }}
# Modifications to this file will be destroyed!

mode server

port 1194

proto udp

dev tun

ca ca.crt
cert sovee.crt
key sovee.key

dh dh2048.pem

server 10.8.0.0 255.255.255.0

ifconfig-pool-persist ipp.txt

push "route 10.15.198.0 255.255.254.0"
push "route 10.15.66.0 255.255.255.0"
push "route 10.15.67.0 255.255.255.0"
push "route 10.0.0.0 255.255.255.0"

keepalive 10 120

comp-lzo

user nobody
group nogroup

persist-key
persist-tun

status openvpn-status.log

verb 3
