# {{ ansible_managed }}
# Modifications to this file will be destroyed!

port 1195

proto udp

dev tap0

script-security 2
up "/etc/openvpn/fircha_up.sh brmgmt tap0 1500"
down "/etc/openvpn/fircha_down.sh brmgmt tap0"

ca ca.crt
cert sovee.crt
key sovee.key
dh dh2048.pem

server-bridge 10.0.0.1 255.255.255.0 10.0.0.101 10.0.0.200

duplicate-cn

client-config-dir ccd/mgmt

keepalive 10 120

comp-lzo

user nobody
group nogroup

persist-key
persist-tun

status fircha-mgmt.log

verb 3
