# {{ ansible_managed }}
# Modifications to this file will be destroyed!

port 1196

proto udp

dev tap1

script-security 2
up "/etc/openvpn/fircha_up.sh brinst tap1 1500"
down "/etc/openvpn/fircha_down.sh brinst tap1"

ca ca.crt
cert sovee.crt
key sovee.key
dh dh2048.pem

server-bridge 10.0.1.1 255.255.255.0 10.0.1.101 10.0.1.200

duplicate-cn

client-config-dir ccd/inst

keepalive 10 120

comp-lzo

user nobody
group nogroup

persist-key
persist-tun

status fircha-inst.log

verb 3

