# {{ ansible_managed }}
# Modifications to this file will be destroyed!

domain ip {
  table filter {
    chain INPUT {
      policy {{ ferm_default_policy_input }};

{% if 'router' in group_names %}
      # enable connection tracking
      mod conntrack ctstate INVALID DROP;
      mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
{% endif %}

      # Drop all netbios traffic silently
      protocol tcp dport 137 DROP;
      protocol udp dport 137 DROP;
      protocol tcp dport 138 DROP;
      protocol udp dport 138 DROP;

      interface lo ACCEPT;

      # Allow pings
      protocol icmp ACCEPT;
    }

    chain OUTPUT {
      policy {{ ferm_default_policy_output }};

{% if 'router' in group_names %}
      # enable connection tracking
      mod conntrack ctstate INVALID DROP;
      mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
{% endif %}
    }

    chain FORWARD {
      policy {{ ferm_default_policy_forward }};

{% if 'router' in group_names %}
      # enable connection tracking
      mod conntrack ctstate INVALID DROP;
      mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
{% endif %}
    }
  }
}

@include 'ferm.d/';

domain ip {
  table filter {
    chain LOGGING {
      mod limit limit 1/sec limit-burst 5 RETURN;
      LOG log-prefix "IPTables Dropped: " log-level 7;
      DROP;
    }
{% if ferm_default_policy_input == "DROP" %}
    chain INPUT {
      jump LOGGING;
    }
{% endif %}
  }
}
