$TTL                604800
@                   IN        SOA        {{ inventory_hostname }}.sovee.os.  root.sovee.os. (
                                               1
                                          604800
                                           86400
                                         2419200
                                          604800 )

@                   IN        NS         {{ inventory_hostname }}.sovee.os.
manage              IN        A          10.15.199.201
firchax             IN        A          10.15.199.210
{% for host in groups['all'] %}
{{ "%-20s"|format(host) }}IN        A          {{ hostvars[host].network_interfaces.management.ipv4_address }}
{% endfor %}
