# {{ ansible_managed }}
# Modifications to this file will be destroyed!
alias /ubuntu "/usr/share/pxeboot/images/ubuntu/"
<Directory "/usr/share/pxeboot/images/ubuntu/">
  Options Indexes Multiviews FollowSymLinks
  AllowOverride None
  Order allow,deny
  Allow from all
</Directory>

alias /preseed "/usr/share/pxeboot/preseed/"
<Directory "/usr/share/pxeboot/preseed/">
  Options Indexes MultiViews FollowSymLinks
  AllowOverride None
  Order allow,deny
  Allow from all
</Directory>

alias /apt-conf "/usr/share/pxeboot/apt-conf/"
<Directory "/usr/share/pxeboot/apt-conf/">
  Options Indexes MultiViews FollowSymLinks
  AllowOverride None
  Order allow,deny
  Allow from all
</Directory>
