# {{ ansible_managed }}
# Modifications to this file will be destroyed!

auto {{ item.value.device }}
iface {{ item.value.device }} inet {{ item.value.boot }}
{% if item.value.boot == 'static' %}
{% if item.value.ipv4_address is defined %}
      address {{ item.value.ipv4_address }}
{% endif %}
{% if item.value.netmask is defined %}
      netmask {{ item.value.netmask }}
{% endif %}
{% if item.value.gateway is defined %}
      gateway {{ item.value.gateway }}
{% endif %}
{% if item.value.dns_search is defined %}
      dns-search {{ item.value.dns_search }}
{% endif %}
{% if item.value.dns_nameservers is defined %}
      dns-nameservers {{ item.value.dns_nameservers }}
{% endif %}
{% if item.value.bridge_ports is defined %}
      bridge_ports {{ item.value.bridge_ports }}
{% endif %}
{% if item.value.commands is defined %}
{% for c in item.value.commands %}
      {{ c }}
{% endfor %}
{% endif %}
{% endif %}
