# {{ ansible_managed }}
# Modifications to this file will be destroyed!

domain ip {
  table filter {
    chain INPUT {
      protocol tcp interface {{ apache2_interface }} dport 80 ACCEPT;
    }
  }
}
