# {{ ansible_managed }}
# Modifications to this file will be destroyed!

client

dev tap0

proto udp

remote 10.15.199.201 1195

resolv-retry infinite

nobind

persist-key
persist-tun

ca ca.crt
key fircha.key
cert fircha.crt

ns-cert-type server

comp-lzo

verb 3
