# {{ ansible_managed }}
# Modifications to this file will be destroyed!

domain ip {
  table nat {
    chain POSTROUTING {
      saddr 10.9.0.0/24 outerface {{ network_interfaces.instance.device }} MASQUERADE;
      saddr 10.0.0.0/24 outerface {{ network_interfaces.external.device }} MASQUERADE;
      saddr 10.0.1.0/24 outerface {{ network_interfaces.external.device }} MASQUERADE;
    }
  }

  table filter {
    chain FORWARD {
      interface {{ network_interfaces.management.device }} ACCEPT;
    }
  }
}
