# {{ ansible_managed }}
# Modifications to this file will be destroyed!
domain ip {
	table nat {
		chain PREROUTING {
			protocol tcp dport 5000 DNAT to 10.0.0.2:5000;
			protocol tcp dport 35357 DNAT to 10.0.0.2:35357;
		}
	}

	table filter {
		chain (FORWARD INPUT) {
			protocol tcp dport 5000 ACCEPT;
			protocol tcp dport 35357 ACCEPT;
		}
	}
}
