# {{ ansible_managed }}
# Modifications to this file will be destroyed!
domain ip {
  table nat {
    chain PREROUTING {
      protocol tcp dport 25565 DNAT to 10.15.199.212:25565;
    }
  }

  table filter {
    chain (FORWARD INPUT) {
      protocol tcp dport 25565 ACCEPT;
    }
  }
}
