# {{ ansible_managed }}
# Modifications to this file will be destroyed!

subnet {{ subnet_address }} netmask {{ subnet_netmask }} {
  authoritative;

  range {{ subnet_dynamic_start }} {{ subnet_dynamic_end }};
  option broadcast-address {{ subnet_broadcast_address }};
  option routers {{ subnet_routers }};
  option subnet-mask {{ subnet_netmask }};
  option domain-name-servers {{ subnet_nameservers }};
  option domain-name "{{ subnet_domain_name }}";

{% if pxe_enabled == True %}
  allow booting;
  allow bootp;

  filename "{{ pxe_filename }}";
  next-server {{ pxe_tftp_server }};
{% endif %}

{% for group in subnet_groups %}
{% for host in groups[group] %}
{% if hostvars[host].network_interfaces.management.mac_address is defined %}
  host {{ host }} {
    hardware ethernet {{ hostvars[host].network_interfaces.management.mac_address }};
    fixed-address {{ hostvars[host].network_interfaces.management.ipv4_address }};
  }
{% endif %}
{% endfor %}
{% endfor %}
}
