# {{ ansible_managed }}
# Modifications to this file will be destroyed!

domain ip {
  table nat {
    chain POSTROUTING {
      saddr 10.8.0.0/24 outerface {{ network_interfaces.external.device }} MASQUERADE;
      saddr 10.9.0.0/24 outerface {{ network_interfaces.external.device }} MASQUERADE;
    }
  }

  table filter {
    chain INPUT {
      protocol (tcp udp) dport openvpn ACCEPT;
      protocol (tcp udp) interface tun+ ACCEPT;
      protocol (tcp udp) interface tap0 ACCEPT;
      protocol (tcp udp) interface tap1 ACCEPT;
      protocol udp dport 1194 ACCEPT;
      protocol udp dport 1195 ACCEPT;
      protocol udp dport 1196 ACCEPT;
    }

    chain FORWARD {
      interface tun+ ACCEPT;
      outerface tun+ ACCEPT;
    }
  }
}
